
@tailwind base;
@tailwind components;
@tailwind utilities;
:root { color-scheme: dark; }
.prose a { @apply underline underline-offset-4; }
html { scroll-behavior: smooth; }
body { @apply min-h-screen bg-neutral-950 text-neutral-100 antialiased; }

/* esconde barras horizontais/verticais no container que tiver essa classe */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
